<span class="action close">Close</span>
<h2>Select Galleries</h2>

{% comment %}
<div class="pagination">
  <span class="step-links">
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_previous %}
      <a href="{% url media_gallery_picker %}?page={{ page_obj.previous_page_number }}{% if q %}&amp;q={{ q }}{% endif %}" class="action paginate">previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="{% url media_gallery_picker %}?page={{ page_obj.next_page_number }}{% if q %}&amp;q={{ q }}{% endif %}" class="action paginate">next</a>
    {% endif %}
  </span>
</div>
{% endcomment %}

{% comment %}<a href="" class="action new">Upload Gallery</a>{% endcomment %}
<div class="filter">
  <form action="{% url media_gallery_picker %}" method="post">
    <span><input type="text" name="q" value="{{ q|default:"" }}" /><input type="image" src="{{ MEDIA_URL }}images/gallery_picker_search.gif" class="action filter" /></span>
  </form>
  <!--<a href="{% url media_gallery_picker %}" class="action reset">reset</a>-->
</div>

{% for gallery in gallery_list %}
{% if forloop.first %}<ul>{% endif %}
  <li id="gallery-{{ gallery.pk }}">
    <img src="{{ gallery.photos.latest.get_admin_thumbnail_url }}" alt="{{ gallery }}" />
    {{ gallery }}
    <span class="action remove">[x] Remove</span>
  </li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}

