<div class="pagination">
  <span class="step-links">
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_previous %}
      <a href="{% url media_image_picker %}?page={{ page_obj.previous_page_number }}{% if q %}&amp;q={{ q }}{% endif %}" class="action paginate">previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="{% url media_image_picker %}?page={{ page_obj.next_page_number }}{% if q %}&amp;q={{ q }}{% endif %}" class="action paginate">next</a>
    {% endif %}
  </span>
</div>

<div class="filter">
  <div>
  <form action="{% url media_image_picker %}" method="post">
    <span><input type="text" name="q" value="{{ q|default:"" }}" /></span>
  </form>
  <a href="{% url media_image_picker %}" class="action reset">reset</a>
  </div>
</div>

{% for photo in photo_list %}
{% if forloop.first %}<ul>{% endif %}
  <li id="photo-{{ photo.pk }}">
    <img src="{{ photo.get_admin_thumbnail_url }}" alt="{{ photo }}" />
    {{ photo }}
    <span class="action remove">[x]</span>
  </li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}

