{% extends "media/base.html" %}
{% load thumbnail %}

{% block title %}Videos{% endblock %}

{% block content %}
  <h1>Videos</h1>
	{% for video in video_list %}
	{% if forloop.first %}<ul>{% endif %}
	<li>
		<a href="{{ video.get_absolute_url }}">
		  {% if video.image %}<img src="{% thumbnail video.image "100x100" %}" />{% endif %}
		  {{ video.publish_at }}
			{{ video }}
		</a>
	</li>
	{% if forloop.last %}</ul>{% endif %}
	{% empty %}
	No videos to display.
	{% endfor %}

<div class="pagination">
  <span class="step-links">
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_previous %}
      <a href="{% url paginated_video_list page_obj.previous_page_number %}">previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="{% url paginated_video_list page_obj.next_page_number %}">next</a>
    {% endif %}
  </span>
</div>

{% endblock %}

