{% include "admin/edit_inline/stacked.html" %}

<div class="attachedmediaitem manager">


  <div class="contenttypes" data-api-href="/django-admin/site/homepage/media/api/contenttypes/"></div>


  <div class="picker"></div>


  <div class="attachments"></div>


  <script data-name="contenttype_list" type="text/template">
    <ol></ol>
  </script>


  <script data-name="contenttype_detail" type="text/template">
    <%= verbose_name_plural %>
  </script>


  <script data-name="mediaitem_list" type="text/template">
    <ol></ol>
  </script>


  <script data-name="mediaitem_detail" type="text/template">
    <h4><%= name %></h4>
    <% if (thumbnail) { %><img src="<%= thumbnail %>" alt="<%= name %>" style="max-width: 100px; max-height: 100px;" /><% } %>
  </script>


</div>
