{% extends "backslash/change_list.html" %}
{% load i18n admin_urls admin_list %}


{# Backslash < 1.0 #}
{% block object-tools-items %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name_plural as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
{% endblock %}


{# Backslash => 1.0 #}
{% block object_toolbar_add %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup %}" class="button primary addlink">{% blocktrans with cl.opts.verbose_name_plural as name %}Add {{ name }}{% endblocktrans %}</a>
  </li>
{% endblock %}
