
<div class="media-filter_objects">
  <h2>Search</h2>
  <form action="media/contenttype/{{ content_type.pk }}/picker" method="get">
      {% csrf_token %}
      <div class="search">{{ form.q }}<input type="submit" /></div>
      <h3>Refine Your Search</h3>
      {{ form.tags }}
  </form>
</div>

<div class="media-available_objects">
  <div class="pagination">
      <div>showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</div>
      {% if page_obj.has_previous %}<a data-page="{{ page_obj.previous_page_number }}" href="media/contenttype/{{ content_type.pk }}/picker?page={{ page_obj.previous_page_number }}">&lt;&lt; previous</a>{% endif %}
      {% if page_obj.has_next %}<a data-page="{{ page_obj.next_page_number }}" href="media/contenttype/{{ content_type.pk }}/picker?page={{ page_obj.next_page_number }}">next &gt;&gt;</a>{% endif %}
  </div>
  
  <h2>Audios</h2>
  {% for audio in audio_list %}
  {% if forloop.first %}<ul class="media-available_object_list">{% endif %}
  <li id="{{ content_type.pk }}-{{ audio.pk }}" class="audio">
    <div class="name">{{ audio }}</div>
    <div class="content">{{ audio.caption|default_if_none:"" }}</div>
    <div class="publish_at">{{ audio.publish_at }}</div>
    <span class="action add">Add +</span><span class="action remove">Remove</span>
  </li>
  {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  
</div>

<div class="media-selected_objects">
  <h2>Selected Audios</h2>
  <ul class="media-selected_object_list"></ul>
  
  <span class="action cancel">Cancel</span>
  <span class="action confirm">Confirm</span>
  
</div>

