{% extends "media/base.html" %}

{% block title %}{{ video.title }}{% endblock %}

{% block extra_head %}
{% if not video.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
{% if video.meta_description %}<meta name="description" content="{{ video.meta_description }}" />{% endif %}

<script type="text/javascript" src="{{ MEDIA_URL }}jwplayer/jwplayer.js"></script>



{% endblock %}

{% block content %}
  
  <h1>{{ video.heading }}</h1>
  
  <div class="player"> 
    <video id="video" poster="{{ video.image.url }}" autobuffer controls height="225" width="400">
      <source src="{{ video.file.url }}"/>
    </video>
    <script type="text/javascript">
      jwplayer("video").setup({
        players: [
          {type: 'flash', src: '{{ MEDIA_URL }}jwplayer/player.swf'},
          {type: 'html5'},
        ],
      });
    </script>
  </div>
  
  <div>
    {{ video.content|safe }}
  </div>
  
  {% if video.tags %}
  <h2>Tags</h2>
  <ul>
    {% load tagging_tags %}
    {% tags_for_object gallery as tag_list %}
    {% for tag in tag_list %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}

