{% load thumbnail %}

<div class="media-filter_objects">

</div>

<div class="media-available_objects">
  <h2>Documents</h2>
  {% for document in document_list %}
  {% if forloop.first %}<ul class="media-available_object_list">{% endif %}
  <li id="{{ content_type.pk }}-{{ document.pk }}" class="document">
    
    <div class="name">{{ document }}</div>
    <div class="content">{{ document.content }}</div>
    <div class="publish_at">{{ document.publish_at }}</div>
    <span class="action add">Add +</span><span class="action remove">Remove</span>
  </li>
  {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>

<div class="media-selected_objects">
  <h2>Selected Documents</h2>
  <ul class="media-selected_object_list"></ul>
  
  <span class="action cancel">Cancel</span>
  <span class="action confirm">Confirm</span>
  
</div>

