{% load thumbnail %}

<div class="media-filter_objects">
  <h2>Search</h2>
  <form action="media/contenttype/{{ content_type.pk }}/" method="get">
      {% csrf_token %}
      <div class="search">{{ form.q }}<input type="submit" /></div>
      <h3>Refine Your Search</h3>
      {{ form.tags }}
  </form>
</div>

<div class="media-available_objects">
  <div class="pagination">
      <div>showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</div>
      {% if page_obj.has_previous %}<a href="media/contenttype/{{ content_type.pk }}/?page={{ page_obj.previous_page_number }}">&lt;&lt; previous</a>{% endif %}
      {% if page_obj.has_next %}<a href="media/contenttype/{{ content_type.pk }}/?page={{ page_obj.next_page_number }}">next &gt;&gt;</a>{% endif %}
  </div>
  
  <h2>Documents</h2>
  {% for document in document_list %}
  {% if forloop.first %}<ul class="media-available_object_list">{% endif %}
  <li id="{{ content_type.pk }}-{{ document.pk }}" class="document">
    
    <div class="name">{{ document }}</div>
    <div class="content">{{ document.caption }}</div>
    <div class="publish_at">{{ document.publish_at }}</div>
    <span class="action add">Add +</span><span class="action remove">Remove</span>
  </li>
  {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  
</div>

<div class="media-selected_objects">
  <h2>Selected Documents</h2>
  <ul class="media-selected_object_list"></ul>
  
  <span class="action cancel">Cancel</span>
  <span class="action confirm">Confirm</span>
  
</div>

