.change-list #changelist table thead {
  display: none;
}

.change-list #changelist table tbody {
  display: block;
}

.change-list #changelist table tbody tr {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
  margin: 0 10px 10px 0;
  padding: 130px 0 0 100px;
  white-space: nowrap;
  font-size: 0;
  border: solid 1px #ccc;
}
  
  .change-list #changelist table tbody tr.row1,
  .change-list #changelist table tbody tr.row2 {
    background-color: transparent;
  }

.change-list #changelist table tbody th,
.change-list #changelist table tbody td {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.change-list #changelist table tbody th a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 80px 2px 2px 2px;
  margin: 0;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  z-index: 900;
}

.change-list #changelist table .image-preview {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  margin: 0;
  padding: 0;
  z-index: 800;
  background-color: #f1f1f1;
}

.change-list #changelist table .image-preview img {
  display: block;
  margin: 0 auto;
}

