#container #content .media-attachedmediaitems {
  background-color: #ffffff;
  overflow: hidden;
  min-height: 500px;
}

.media-attachedmediaitems .action {
  cursor: pointer;
}

/*.media-attachedmediaitems .ui-sortable > li {
  cursor: move;
}*/

.media-attachedmediaitems .media-content_type_list {
  list-style-type: none;
  margin: 0 0 28px 0;
  padding: 0;
  height: 30px;
  background-color: #e5e5e5;
  background-position: 98% center;
  background-repeat: no-repeat;
  border-bottom: solid 3px #01acf1;
  border-top: solid 15px #ffffff;
}
  
  .ajax-loading .media-attachedmediaitems .media-content_type_list {
    background-image: url("media-content_type_list-loader.gif");
  }
  
  .media-attachedmediaitems .media-content_type_list li {
    position: relative;
    display: block;
    float: left;
    width: 118px;
    margin: 0;
    padding: 0;
    border-right: solid 3px #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
    
    .media-attachedmediaitems .media-content_type_list li a {
      display: block;
      line-height: 30px;
    }
    
    .media-attachedmediaitems .media-content_type_list li.active {
      background-color: #01acf1;
      font-weight: bold;
      /*-moz-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in;*/
    }
      
      .media-attachedmediaitems .media-content_type_list li.active a {
        color: #ffffff;
      }
      
      .media-attachedmediaitems .media-content_type_list li.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 -10px -10px;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        border-top: solid 10px #01acf1;
        content: ' ';
      }

.media-attachedmediaitems .inline-related, .media-attachedmediaitems .add-row {
  display: none;
}

.media-attachedmediaitems .media-object_list {
  margin: 0 0 20px -20px;
  padding: 0;
}




/* Object List - Thumbnails */  
.media-attachedmediaitems .media-object_list li.thumbnail {
  position: relative;
  float: left;
  width: 140px;
  height: 106px;
  margin: 0 0 20px 20px;
  padding: 0;
  list-style-type: none;
  background-color: #e5e5e5;
}
  
  .media-attachedmediaitems .media-object_list li.thumbnail img {
    display: block;
    margin: 0 auto;
  }
  
  .media-attachedmediaitems .media-object_list li.thumbnail .action.remove {
    position: absolute;
    overflow: hidden;
    top: 3px;
    right: 3px;
    width: 13px;
    height: 13px;
    background-image: url("media-object_list-remove.png");
    text-indent: 20px;
  }

/* Object List - List */
.media-attachedmediaitems .media-object_list li.list {
  position: relative;
  min-height: 36px;
  margin: 0 0 0 20px;
  padding: 9px 0 10px 54px;
  list-style-type: none;
  background-position: 9px 9px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #d7d7d7;
  font-size: 8px;
  line-height: 8px;
}
  
  .media-attachedmediaitems .media-object_list li.list.document {
    background-image: url("media-object_list-document.png");
  }
  
  .media-attachedmediaitems .media-object_list li.list .name {
    margin-bottom: 7px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .media-attachedmediaitems .media-object_list li.list .content {
    margin-bottom: 4px;
  }
  
  .media-attachedmediaitems .media-object_list li.list .publish_at {
    color: #767676;
  }
  
  .media-attachedmediaitems .media-object_list li.list .action.remove {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 0;
    height: 54px;
    margin: -4px 35px 0 0;
    display: block;
    color: #e6001b;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .media-attachedmediaitems .media-object_list li.list:hover .action.remove {
    visibility: visible;
  }




.media-attachedmediaitems .action.select {
  display: block;
  clear: both;
  float: left;
  padding: 0 22px 0 8px;
  background-color: #898989;
  background-image: url("media-select-plus.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  text-transform: uppercase;
}








.media-attachedmediaitems .ui-dialog-titlebar {
  display: none;
}

.media-attachedmediaitems.ui-dialog {
  padding: 0;
  border-style: solid 1px #000000;
  border-radius: 0;
  box-shadow: 1px 1px 5px #333;
  -moz-box-shadow: 1px 1px 5px #333;
  -webkit-box-shadow: 1px 1px 5px #333;
}


.media-attachedmediaitems .media-picker {
  padding: 0;
  font-size: 8px;
}


.media-attachedmediaitems .media-picker h2 {
  color: #01acf1;
  font-size: 10px;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
}

.media-attachedmediaitems .media-picker .media-filter_objects {
  float: left;
  height: 470px;
  width: 192px;
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
}

.media-attachedmediaitems .media-picker .media-available_objects {
  float: left;
  height: 470px;
  width: 486px;
  padding: 15px;
  /*background-color: #000000;
  color: #ffffff;*/
}

.media-attachedmediaitems .media-picker .media-selected_objects {
  float: right;
  height: 470px;
  width: 192px;
  padding: 15px;
  background-color: #e5e5e5;
}


.media-attachedmediaitems .media-picker .media-available_object_list,
.media-attachedmediaitems .media-picker .media-selected_object_list {
  margin: 0;
  padding: 0;
}
  
  .media-attachedmediaitems .media-picker .media-available_object_list li,
  .media-attachedmediaitems .media-picker .media-selected_object_list li {
    display: block;
    position: relative;
    height: 45px;
    margin: 0;
    padding: 9px 0 10px 80px;
    background-repeat: no-repeat;
    background-position: 0 9px;
    border-bottom: solid 1px #f1f1f1;
    list-style-type: none;
    font-size: 8px;
  }
    
    .media-attachedmediaitems .media-picker .media-available_object_list li.selected {
      -moz-opacity: 0.5;
      opacity: 0.5;
      filter: alpha(opacity = 50);
    }
      
      .media-attachedmediaitems .media-picker .media-available_object_list li.selected img {
        filter: alpha(opacity = 50);
      }
    
    .media-attachedmediaitems .media-picker .media-available_object_list li img,
    .media-attachedmediaitems .media-picker .media-selected_object_list li img {
      position: absolute;
      top: 9px;
      left: 0;
    }
    
    .media-attachedmediaitems .media-picker .media-available_object_list li.document,
    .media-attachedmediaitems .media-picker .media-selected_object_list li.document {
      background-image: url("media-object_list-document_thumbnail.png");
    }
    
    .media-attachedmediaitems .media-picker .media-available_object_list li .action.add {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -4px;
      visibility: hidden;
      color: #01acf1;
      font-size: 8px;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .media-attachedmediaitems .media-picker .media-available_object_list li:hover .action.add {
      visibility: visible;
    }
    .media-attachedmediaitems .media-picker .media-available_object_list li.selected:hover .action.add {
      visibility: hidden;
    }
    
    .media-attachedmediaitems .media-picker .media-available_object_list li .action.remove {
      display: none;
    }
    
    .media-attachedmediaitems .media-picker .media-selected_object_list li .action.remove {
      color: #767676;
      text-transform: uppercase;
    }


    .media-attachedmediaitems .media-picker .media-selected_object_list li .content,
    .media-attachedmediaitems .media-picker .media-selected_object_list li .publish_at,
    .media-attachedmediaitems .media-picker .media-selected_object_list li .action.add {
      display: none;
    }
    
    .media-attachedmediaitems .media-picker li .name {
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .media-attachedmediaitems .media-picker .media-selected_objects .action.cancel,
    .media-attachedmediaitems .media-picker .media-selected_objects .action.confirm {
      display: inline-block;
      margin: 10px 10px 0 0;
      padding: 0 8px;
      background-color: #000000;
      color: #ffffff;
      font-size: 10px;
      font-weight: bold;
      line-height: 23px;
      text-transform: uppercase;
    }
    
    .media-attachedmediaitems .media-picker .media-selected_objects .action.confirm {
      background-color: #01acf1;
    }

