.button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.attachedmediaitem.manager .loading {
    position: relative;
}

  .attachedmediaitem.manager .loading:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #ffffff;
      padding: 3em 0;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      content: 'Loading';
      text-align: center;
      font-size: 200%;
      font-weight: bold;
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.25);
  }


.attachedmediaitem.manager:after,
.attachedmediaitem.manager .contenttypes:after,
.attachedmediaitem.manager .picker:after,
.attachedmediaitem.manager .attachments:after {
  display: block;
  position: absolute;
  padding: 5px 10px;
  background-color: #ffffff;
  border: dashed 1px #555753;
  top: -0.75em;
  right: -0.75em;
  content: "Label";
  text-transform: uppercase;
  color: #a40000;
  font-weight: bold;
  font-size: 75%;
}



.attachedmediaitem.manager {
  position: relative;
  padding: 10px;
  margin: -10px;
  border: dashed 1px #555753;
}

  .attachedmediaitem.manager:after {
    content: "Manager";
  }


/*.attachedmediaitem.manager .inline-group,*/
.attachedmediaitem.manager .inline-related,
.attachedmediaitem.manager .add-row {
  display: none;
}


.attachedmediaitem.manager .contenttypes {
  position: relative;
  border-bottom: solid 1px #555753;
  background-color: #eeeeec;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

  .attachedmediaitem.manager .contenttypes:after {
    content: "Content Types";
  }

  .attachedmediaitem.manager .contenttypes li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
  }

  .attachedmediaitem.manager .contenttypes li.selected,
  .attachedmediaitem.manager .contenttypes li:hover {
    color: #ffffff;
    background-color: rgba(58, 87, 83, 0.5);
  }




.attachedmediaitem.manager .picker,
.attachedmediaitem.manager .attachments {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  background-color: #eeeeec;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}




.attachedmediaitem.manager .picker {
}

  .attachedmediaitem.manager .picker:after {
    content: "Picker";
  }

  .attachedmediaitem.manager .picker .display.controls li,
  .attachedmediaitem.manager .picker .filter.controls li {
    display: inline-block;
  }

  .attachedmediaitem.manager .picker .closed {
    max-height: 30px;
    overflow: hidden;
  }

    .attachedmediaitem.manager .picker .closed .display.controls .close,
    .attachedmediaitem.manager .picker .opened .display.controls .open {
      display: none;
    }

  .attachedmediaitem.manager .picker .filter.controls .tags .selected {
    font-weight: bold;
  }

  .attachedmediaitem.manager .picker .attached {
    opacity: 0.5;
  }

  .attachedmediaitem.manager ol {
    margin: 0;
    list-style-type: none;
  }

  .attachedmediaitem.manager ol li {
    display: inline-block;
    padding: 20px;
    max-width: 100px;
    vertical-align: top;
  }

    .attachedmediaitem.manager ol li .name {
      font-size: 75%;
      height: 50px;
      overflow: hidden;
    }

    .attachedmediaitem.manager ol li img {
      display: block;
      overflow: hidden;
      max-height: 100px;
      max-width: 100px;
    }

  .attachedmediaitem.manager .picker .pagination {
    background-color: rgba(85, 87, 83, 0.5);
    overflow: hidden;
    text-align: right;
  }

    .attachedmediaitem.manager .picker .pagination li {
      display: inline-block;
      padding: 20px;
    }

    .attachedmediaitem.manager .picker .pagination .status {
      float: left;
    }




.attachedmediaitem.manager .attachments {
}

  .attachedmediaitem.manager .attachments:after {
    content: "Attachments";
  }
