
/* hide/show elements depending if javascript is enbabled */
.action.initiate_document_picker {display: none;}
.document_select_multiple.js-enabled select {display: none;}

.document_select_multiple .selected_documents,
.document_select_multiple .document_picker {
  clear: both;
}

.document_select_multiple.js-enabled .action.initiate_document_picker,
.document_select_multiple.js-enabled .action.initiate_document_upload,
.document_select_multiple .document_picker .action.new {
  display: block;
  float: left;
  margin: 0 0 20px 0;
  padding: 0 15px;
  background-color: #00aeef;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #ffffff;
  line-height: 30px;
}

.document_select_multiple.js-enabled .action.initiate_document_picker {
  float: left;
}

.document_select_multiple .document_picker .action.new {
  float: right;
}

.document_select_multiple .document_picker > ul {
  clear: both;
  height: 390px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.document_select_multiple .selected_documents li,
.document_select_multiple .document_picker > ul li {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  height: 120px;
  width: 100px;
  margin: 0 20px 20px 0;
  list-style-type: none;
}

.document_select_multiple .action,
.document_select_multiple .document_picker > ul li {
  cursor: pointer;
}

.document_select_multiple .document_picker li.selected img {
  height: 67px;
  width: 92px;
  border: solid 4px #00aeef;
}

.document_select_multiple .document_picker li.selected {
  color: #00aeef;
}

/*.document_select_multiple .document_picker li:hover img {
  height: 67px;
  width: 92px;
  border: solid 4px #00aeef;
}*/

.document_select_multiple .selected_documents h2,
.document_select_multiple .selected_documents .action.close,
.document_select_multiple .selected_documents .pagination,
.document_select_multiple .selected_documents .filter,
.document_select_multiple .selected_documents .action.new,
.document_select_multiple .document_picker .action.remove {
  display: none;
}

/**/
.document_select_multiple .document_picker > .filter {
  margin: 0 0 15px 0;
}
.document_select_multiple .document_picker .filter input[type="text"] {
  width: 252px;
  margin: 0 10px 0 0;
}

.document_select_multiple .document_picker .pagination {
  float: right;
  color: #666666;
  padding: 5px;
}

.document_select_multiple .document_picker .action.close {
  float: right;
  padding: 0 10px 0 0;
  color: #00aeef;
  line-height: 30px;
  text-transform: uppercase;
}

.document_select_multiple .document_picker h2 {
  height: 30px;
  margin: 0 0 15px 0;
  padding: 0 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.document_select_multiple .selected_documents .action.remove {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100px;
  color: #666666;
}



.document_select_multiple.js-enabled .action.initiate_document_upload {
  display: none;
}


