
/* hide/show elements depending if javascript is enbabled */
.action.initiate_gallery_picker {display: none;}
.gallery_select_multiple.js-enabled select {display: none;}

.gallery_select_multiple .selected_galleries,
.gallery_select_multiple .gallery_picker {
  clear: both;
}

.gallery_select_multiple.js-enabled .action.initiate_gallery_picker,
.gallery_select_multiple .gallery_picker .action.new {
  display: block;
  float: left;
  margin: 0 0 20px 0;
  padding: 0 15px;
  background-color: #00aeef;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #ffffff;
  line-height: 30px;
}

.gallery_select_multiple.js-enabled .action.initiate_gallery_picker {
  float: left;
}

.gallery_select_multiple .gallery_picker .action.new {
  float: right;
}

.gallery_select_multiple .gallery_picker > ul {
  clear: both;
  height: 390px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.gallery_select_multiple .selected_galleries li,
.gallery_select_multiple .gallery_picker > ul li {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  height: 120px;
  width: 100px;
  margin: 0 20px 20px 0;
  list-style-type: none;
}

.gallery_select_multiple .action,
.gallery_select_multiple .gallery_picker > ul li {
  cursor: pointer;
}

.gallery_select_multiple .gallery_picker li.selected img {
  height: 67px;
  width: 92px;
  border: solid 4px #00aeef;
}

.gallery_select_multiple .gallery_picker li.selected {
  color: #00aeef;
}

/*.gallery_select_multiple .gallery_picker li:hover img {
  height: 67px;
  width: 92px;
  border: solid 4px #00aeef;
}*/

.gallery_select_multiple .selected_galleries h2,
.gallery_select_multiple .selected_galleries .action.close,
.gallery_select_multiple .selected_galleries .pagination,
.gallery_select_multiple .selected_galleries .filter,
.gallery_select_multiple .selected_galleries .action.new,
.gallery_select_multiple .gallery_picker .action.remove {
  display: none;
}

/**/
.gallery_select_multiple .gallery_picker > .filter {
  margin: 0 0 15px 0;
}
.gallery_select_multiple .gallery_picker .filter input[type="text"] {
  width: 252px;
  margin: 0 10px 0 0;
}

.gallery_select_multiple .gallery_picker .pagination {
  float: right;
  color: #666666;
  padding: 5px;
}

.gallery_select_multiple .gallery_picker .action.close {
  float: right;
  padding: 0 10px 0 0;
  color: #00aeef;
  line-height: 30px;
  text-transform: uppercase;
}

.gallery_select_multiple .gallery_picker h2 {
  height: 30px;
  margin: 0 0 15px 0;
  padding: 0 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.gallery_select_multiple .selected_galleries .action.remove {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100px;
  color: #666666;
}

