.uploading:after {
  content: "Uploading files, please wait...";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 60%;
  padding: 20%;
  background-color: #eeeeec;
  color: #999999;
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  cursor: wait;
  z-index: 9999;
}

.uploading * {
  display: none;
}

